.section-adventure
    background: linear-gradient(90deg, rgba($color-light-brown, .70), rgba($color-black, .70)), url(../img/adventure_bg.jpg) center / cover no-repeat
    padding: 21rem 0rem
    transform: skewY(7deg)
.section-adventure > *
    transform: skewY(-7deg)
.section-book
    padding: 10rem
    background: rgb(195,149,106)
    background: linear-gradient(160deg, rgba(195,149,106,1) 0%, rgba(161,79,3,1) 78%)